@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: Inter;
  src: url("./fonts/inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
  color: rgb(var(--foreground-rgb));
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}


/* THEME STYLES */
.light-theme {
  background: #FFFFFF;
}

.light-theme .switch-theme-bg .circle {
  position: relative;
  top: 3px;
  right: 0px;
  transform: translate(3px, 0);
  transition: transform 0.3s ease;
}

.dark-theme {
  background: #050505;
  color: #FFFFFF;
}

.dark-theme h1, .dark-theme input, .dark-theme span, .dark-theme li, .dark-theme .theme-white {
  color: #FFFFFF;
}

.dark-theme .theme-black {
  color: #757575;
}

.dark-theme .text-violet {
  color: #A445ED;
}

.dark-theme form {
  background: #1F1F1F;
}

.dark-theme .theme-logo path {
  stroke: #A445ED;
}

.dark-theme .switch-theme-bg {
  background: #A445ED;
}

.dark-theme .switch-theme-bg .circle {
  position: relative;
  top: 3px;
  right: 0px;
  transform: translate(22px, 0);
  transition: transform 0.3s ease;
}