@font-face {
  font-family: "Poppins400 Italic";
  src: url("../../assets/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins700";
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins800 Italic";
  src: url("../../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

.show {
  display: block;
}
.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #F0F0F0;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 43px 62px 76px 56px;
  width: 52.3%;
  background: #FFFFFF;
  border-radius: 24px 24px 200px 24px;
  margin: 0 auto;
  position: relative;
  left: -30px;
}
@media (max-width: 1080px) {
  .box-container {
    padding: 24px 24px 38px 24px;
    border-radius: 24px 24px 100px 24px;
    width: 79.3%;
    left: 0;
  }
}

.box-form {
  width: 100%;
}

.box-fields {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.box-title {
  font-family: 'Poppins700';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #716F6F;
  margin: 22.4px 23px 9px 3px;
}

.box-input {
  font-family: 'Poppins700';
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 137px;
  height: 72px;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  font-family: 'Poppins700';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #151515;
  padding-left: 26px;
}

@media (max-width: 1080px) {
  .box-fields {
    flex-wrap: nowrap;
  }
  .box-fields label {
    width: 100%;
  }
  .box-fields label:nth-child(3) {
    position: relative;
    left: -16px;
  }
  .box-input {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 16px;
    height: 32px;
  }
  .box-input[name="day"] {
    width: 93%;
  }
  .box-input[name="month"] {
    padding-left: 14px;
    width: 77%;
  }
  .box-input[name="year"] {
    width: 93%;
  }
  .box-title {
    font-size: 12px;
    margin-bottom: 3px;
    position: relative;
    left: -3px;
  }
}

.box-input:focus {
  outline: none;
  border: 2px solid #854DFF;
}

.box-errorInp {
  outline: none;
  border: 2px solid #FF5959;
}

.box-errorTxt {
  color: #FF5959;
  font-family: 'Poppins400 Italic';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 6px;
  margin-bottom: 1px;
}

.box-submit {
  position: relative;
}

@media (max-width: 1348px) {
  .box-submit {
    margin-top: 30px;
  }
}

.box-submit button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 96px;
  height: 96px;
  background-color: #854DFF;
  background-image: url(../../assets/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 216px;
  border: none;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box-submit button:hover {
  background-color: #151515;
}

.box-hr {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #DCDCDC;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.box-result {
  font-family: 'Poppins800 Italic';
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #151515;
}

@media (max-width: 1080px) {
  .box-result {
    margin-top: 31px;
    font-size: 58px;
  }
  .box-submit button {
    margin: 0 auto;
  }
}

@media (max-width: 975px) {
  .box-result {
    font-size: 70px;
  }
}

@media (max-width: 569px) {
  .box-submit button {
    width: 75px;
    height: 75px;
    background-size: 47%;
  }
  .box-result {
    font-size: 52px;
  }
}

@media (max-width: 459px) {
  .box-submit button {
    width: 67px;
    height: 67px;
    background-size: 43%;
  }
  .box-result {
    font-size: 53px;
  }
}

.box-field {
  display: flex;
  margin-top: 6px;
}

.box-field:first-child {
  margin-top: 0;
}

.box-result span {
  color: #854DFF;
  margin: 0;
  margin-right: 15px;
  text-align: -webkit-center;
  width: auto;
  padding-left: 10px;
}

.box-result span .animated-container {
  text-align: start;
}

@media (max-width: 1080px) {
  .box-result span {
    padding-left: 0;
  }
}

.box-result .error-message {
  font-size: 31px;
  color: brown;
  font-family: sans-serif;
}