@font-face {
  font-family: "Poppins400 Italic";
  src: url("../../assets/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins700";
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins800 Italic";
  src: url("../../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

.show {
  display: block;
}
.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #F0F0F0;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px;
  width: 840px;
  height: 651px;
  background: #FFFFFF;
  border-radius: 24px 24px 200px 24px;
  margin: 0 auto;
}

.box-fields {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
}

.box-title {
  font-family: 'Poppins700';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #716F6F;
}

.box-input {
  font-family: 'Poppins700';
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 160px;
  height: 72px;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  font-family: 'Poppins700';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #151515;
}

.box-input:focus {
  outline: none;
  border: 2px solid #854DFF;
}

.box-errorInp {
  outline: none;
  border: 2px solid #FF5959;
}

.box-errorTxt {
  color: #FF5959;
  font-family: 'Poppins400 Italic';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.box-submit {
  position: relative;
}

.box-submit button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 96px;
  height: 96px;
  background-color: #854DFF;
  background-image: url(../../assets/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 216px;
  border: none;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box-submit button:hover {
  background-color: #151515;
}

.box-hr {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #DCDCDC;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.box-result {
  font-family: 'Poppins800 Italic';
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #151515;
}

.box-field {
  display: flex;
}

.box-result span {
  color: #854DFF;
  margin: 0;
  margin-right: 15px;
  text-align: -webkit-center;
}

.box-result .error-message {
  font-size: 31px;
  color: brown;
  font-family: sans-serif;
}